* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav1 {
  width: 20%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.nav1 img {
  padding-left: 70px;
}
.nav2 {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.nav2 a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.nav3 {
  width: 30%;
  height: inherit;
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav3 span {
  padding-inline: 20px;
  font-size: 20px;
}
/* section 1 */
.hero {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.col1 {
  width: 49%;
  height: inherit;
  background-image: url("./photo/i1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cc1 {
  width: 67%;
  height: 35%;
  padding-left: 45px;
}

.col2 {
  width: 25%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.col3 {
  width: 24%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.col21 {
  width: 100%;
  height: 48%;
  background-image: url("./photo/i2.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cc2 {
  width: 65%;
  height: 45%;
  padding-left: 25px;
}
.col22 {
  width: 100%;
  height: 49%;
  background-color: rgb(255, 71, 71);
  background-image: url("./photo/i3.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col31 {
  width: 100%;
  height: 48%;
  background-image: url("./photo/i4.jpg");
  background-position: center;
  background-size: cover;
}
.col32 {
  width: 100%;
  height: 49%;
  background-image: url("./photo/i5.jpg");
  background-position: center;
  background-size: cover;
}
/* section 1 */
/* section 2 */
.qwe1 {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navv1 {
  width: 75%;
  height: inherit;
  display: flex;
}
.n1 {
  width: 30%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.n2 {
  width: 20%;
  height: inherit;
}
.n3 {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.n3 a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  width: 100%;
  height: 1100px;
  display: flex;
  justify-content: center;
}
.cars {
  width: 75%;
  height: inherit;
}
.row1 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.cardd1 {
  width: 23%;
  height: inherit;
}
.upper1 {
  width: 100%;
  height: 400px;
  background-image: url("./photo/product-1.jpg");
  background-position: center;
  background-size: cover;
}
.upper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
.upper span {
  color: orange;
}
.li {
  display: flex;
}
.upper h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.up1 {
  background-image: url("./photo/product-2.jpg");
}
.up2 {
  background-image: url("./photo/product-3.jpg");
}
.up3 {
  background-image: url("./photo/product-4.jpg");
}
.up4 {
  background-image: url("./photo/product-5.jpg");
}
.up5 {
  background-image: url("./photo/product-6.jpg");
}
.up6 {
  background-image: url("./photo/product-7.jpg");
}
.up7 {
  background-image: url("./photo/product-8.jpg");
}
.post1 {
  width: 100%;
  height: 500px;
  background-color: red;
  background-image: url("./photo/banner-1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dd121 {
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* section 2 */
.lop1 {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
}
.lop2 {
  width: 75%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}
.lo1 {
  width: 30%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lo2 {
  width: 30%;
  height: inherit;
}
.lo3 {
  width: 30%;
  height: inherit;
}
.ik1 {
  width: 100%;
  height: 22%;
}
.loo1 {
  padding: 50px;
}
.cv1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  transform: translateX(-50px);
}
.qwqw {
  width: 30%;
  border: 1px solid red;
  transform: translateX(-50px);
}
.immm {
  width: 40%;
  height: 100%;
  background-image: url("./photo/ht-1.jpg");
  background-position: center;
  background-size: cover;
}
.immm2 {
  background-image: url("./photo/ht-2.jpg");
}
.immm3 {
  background-image: url("./photo/ht-3.jpg");
}
.immm4 {
  background-image: url("./photo/bs-1.jpg");
}
.immm5 {
  background-image: url("./photo/bs-2.jpg");
}
.immm6 {
  background-image: url("./photo/bs-3.jpg");
}
.immm7 {
  background-image: url("./photo/f-1.jpg");
}
.immm8 {
  background-image: url("./photo/f-2.jpg");
}
.immm9 {
  background-image: url("./photo/f-3.jpg");
}
.ff1 {
  display: flex;
}
.conn {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 30px;
  line-height: 25px;
}
.conn span {
  color: orange;
}
.ku {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}
.ku0 {
  width: 75%;
  height: inherit;
  background-color: slategrey;
  display: flex;
}
.ku1 {
  width: 50%;
  height: inherit;
  background-color: violet;
  background-image: url(./photo/discount.jpg);
  background-position: center;
  background-size: cover;
}
.ku2 {
  width: 50%;
  height: inherit;
  background-color: #f3eded;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cir {
  width: 48%;
  height: 190px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: -10;
  transform: translate(102px, -20px);
}
.final123 {
  width: 70%;
  height: 50%;
  position: relative;
  z-index: 11;
  margin-top: -70px;
}
.vd {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.vd1 {
  width: 75%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}
.vdd1 {
  width: 24%;
  height: inherit;
  display: flex;
}
.df1 {
  width: 30%;
  height: inherit;
  padding: 10px;
  padding-inline: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.df1 span {
  font-size: 60px;
  color: red;
}
.df2 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.df2 {
  width: 70%;
  height: inherit;
}
.df2 h4 {
  color: gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.df2 h3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.op1 {
  width: 100%;
  height: 300px;
  background-color: turquoise;
  display: flex;
}
.p1w {
  width: 20%;
  height: inherit;
  background-color: wheat;
}
.pol1 {
  background-image: url("./photo/insta-1.jpg");
  background-position: center;
  background-size: cover;
}
.pol2 {
  background-image: url("./photo/insta-2.jpg");
}
.pol3 {
  background-image: url("./photo/insta-3.jpg");
}
.pol4 {
  background-image: url("./photo/insta-4.jpg");
}
.pol5 {
  background-image: url("./photo/insta-5.jpg");
}
.pol6 {
  background-image: url("./photo/insta-6.jpg");
}
.dl1 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}
.vb1 {
  width: 75%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}
.ed1 {
  width: 48%;
  height: inherit;
  padding: 30px;
  padding-inline: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jo div {
  font-size: 22px;
  line-height: 30px;
  color: grey;
}
.z1 {
  width: 32%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dwr1 {
  display: flex;
  justify-content: space-between;
}
.asq1 {
  width: 100%;
  height: 50%;
  padding: 10px;
}
.fr1 {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.pl19 {
  width: 15%;
  height: 50px;
}
.z2 {
  flex-direction: column;
}
.ser123 {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}
.pl1 {
  width: 70%;
  height: 90%;
  border: 2px solid gray;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pl1 input {
  border: none;
  outline: none;
  width: 70%;
  height: 30px;
  background-color: transparent;
  font-size: 20px;
}
.su1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
  background-color: red;
  border-radius: 50px;
  margin: 10px;
  margin-inline: 5px;
  font-size: 15px;
}
.icoo {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  gap: 7px;
}
.ol5 {
  width: 12%;
  height: inherit;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
